<main
  class="bg-gray-900 min-h-screen flex items-center justify-center p-4 font-sans"
>
  <div class="w-full max-w-md">
    <div class="auth-container" [class.is-register]="!isLoginView()">
      <div class="relative auth-card w-full h-128">
        <div
          class="absolute w-full h-full auth-front bg-gray-800 rounded-xl shadow-2xl p-6 sm:p-8 text-white flex flex-col"
        >
          <h2 class="text-3xl font-bold text-center mb-1">Bem-vindo</h2>
          <p class="text-center text-gray-400 mb-6">Acesse sua conta FinDash</p>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onLogin()"
            class="space-y-4"
          >
            <div>
              <input
                formControlName="username"
                type="text"
                placeholder="Usuário"
                class="w-full px-4 py-2.5 bg-gray-700 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
            <div>
              <input
                formControlName="password"
                type="password"
                placeholder="Senha"
                class="w-full px-4 py-2.5 bg-gray-700 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>
            @if (errorMessage()) {
              <p class="text-red-400 text-sm text-center">
                {{ errorMessage() }}
              </p>
            }
            <button
              type="submit"
              [disabled]="loginForm.invalid || isLoading()"
              class="w-full py-2.5 px-4 bg-blue-600 hover:bg-blue-700 rounded-lg font-semibold transition-colors disabled:bg-gray-500 disabled:cursor-wait flex items-center justify-center"
            >
              @if (isLoading()) {
                <span
                  class="animate-spin h-5 w-5 border-t-2 rounded-full"
                ></span>
              } @else {
                <span>Entrar</span>
              }
            </button>
          </form>
          <p class="text-center text-sm text-gray-400 mt-auto">
            Não tem uma conta?
            <a
              (click)="toggleView()"
              class="font-semibold text-blue-400 hover:text-blue-300 cursor-pointer"
              >Registre-se</a
            >
          </p>
        </div>
        <div
          class="absolute w-full h-full auth-back bg-gray-800 rounded-xl shadow-2xl p-6 sm:p-8 text-white flex flex-col"
        >
          <h2 class="text-3xl font-bold text-center mb-1">Crie sua Conta</h2>
          <p class="text-center text-gray-400 mb-6">
            Rápido, fácil e gratuito.
          </p>
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onRegister()"
            class="space-y-4"
          >
            <input
              formControlName="username"
              type="text"
              placeholder="Usuário"
              class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <input
              formControlName="password"
              type="password"
              placeholder="Senha"
              class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <input
              formControlName="repeatPassword"
              type="password"
              placeholder="Repita a Senha"
              class="w-full px-4 py-2 bg-gray-700 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            @if (errorMessage()) {
              <p class="text-red-400 text-sm text-center">
                {{ errorMessage() }}
              </p>
            }
            <button
              type="submit"
              [disabled]="registerForm.invalid || isLoading()"
              class="w-full py-2.5 px-4 bg-blue-600 hover:bg-blue-700 rounded-lg font-semibold transition-colors disabled:bg-gray-500 disabled:cursor-wait flex items-center justify-center"
            >
              @if (isLoading()) {
                <span
                  class="animate-spin h-5 w-5 border-t-2 rounded-full"
                ></span>
              } @else {
                <span>Registrar</span>
              }
            </button>
          </form>
          <p class="text-center text-sm text-gray-400 mt-auto">
            Já possui uma conta?
            <a
              (click)="toggleView()"
              class="font-semibold text-blue-400 hover:text-blue-300 cursor-pointer"
              >Faça login</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
