.auth-container {
  perspective: 1000px;
}

.auth-card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.auth-container.is-register .auth-card {
  transform: rotateY(180deg);
}

.auth-front,
.auth-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.auth-back {
  transform: rotateY(180deg);
}
